---
layout: full_nav
title: About This Blog
---
:markdown
  ## History ##
  Social Memory Complex started in 2004 as a site for an eponymous musical project. Inspired by the hilarious serial writing of Wil Forbis at [Acid Logic](http://www.acidlogic.com), I launched the blog in June of 2004 to explore blogging as an expressive form in its own right.

  Much of my writing had previously been in comments on others' blog or in forum threads, neither of which belonged to me. When one of the blogs on which I participated the most was wiped clean, I realized I needed to own my work. I started on Blogger and moved to a Wordpress install hosted by my old friend, Matt Walters. That provided the technical experience I needed to obtain my own hosting when it became necessary. Now I've moved from Wordpress to a Ruby-based platform called [Jekyll](http://github.com/mojombo/jekyll).

  Many of the early posts are silly, reflecting the influence of Forbis's writing, but I'd like to think by now I've found a voice of my own. In any case, if you see notice the tone gets more serious as the years progress, it is also because of my increasing political outrage and cynicism coupled with a genuine desire to get to the heart of these matters that cause people so much grief.

  ## About the Author ##

  Jeremy Weiland lives in Richmond, VA with his wife Tasha and their beagle Tela.