---
layout: full_nav
title: About This Blog
subtitle: Social Memory Complex
---
:markdown
  ## History ##
  Social Memory Complex started in 2004 as a site for an eponymous musical project. Inspired by the hilarious serial writing of Wil Forbis at [Acid Logic](http://www.acidlogic.com), I launched the blog in June of 2004 to explore blogging as an expressive form in its own right. I had been a frequent commenter on forums and blogs, and [my experiment](http://socialmemorycomplex.net/features/history-as-the-evolution-of-identity.html) with writing standalone essays led me to attempt blogging in my own right.

  I started this blog on Blogger (that's where all the untitled posts are from) and moved to a Wordpress install hosted by my old friend, [Matt Walters](http://mattwalters.net). That provided the technical experience I needed to obtain my own hosting when it became necessary. Now I've moved from Wordpress to a Ruby-based platform called [Jekyll](http://github.com/mojombo/jekyll).

  The topics on this blog have changed over the near decade I've spent writing on my own platform. It started out geared primarily towards humor and political asides. Over time I'd like to think I've found a voice, and the blog has followed several dimensions of growth: my trajectory from libertarianism to anarchism, from rights-based politics to a more quasi-egoist variety, and from shittier programming languages and methodologies to behavior driven development and ruby. It's been a wild ride, and I appreciate everybody who has been a part of the conversations that challenged me to grow.

  I don't like stifling people's voices, so no moderation on the comments except for spam. I will never show ads on the site. If you want to support me, pay me to write a feature, either in English or a programming language.

  What's a social memory complex? Read [this](http://socialmemorycomplex.net/2011/01/15/thirtieth-anniversary-of-the-ra-contact/).

  ## Philosophy ##

  My vision of a peaceful and free society is a decentralized band of communities with a variety of conceptions of law, property, and values -- in a word, anarcho-pluralism.  I single out formal institutions in society for special critique, because Butler Shaffer convinced me years ago that these are the thought forms we collectively create as an alternative to being aware, present, and self-governing.  I am not a utopian; the goal is not to prevent all violence, suffering, and exploitation but to decompose the scale at which it occurs so people can deal with it more meaningfully.  I lean towards mutualism as a political economic philosophy.  While I understand that privilege creates a lack of empathy that retards anarchist flourishing, I believe the way to combat it is through a combination of honest dialogue amongst individuals and destroying the coercive institutions that help to perpetuate it.

  ## About the Author ##
  
  ![a bad pic of me](/images/pixel_me_small.jpg)[Jeremy Weiland](http://jeremyweiland.com) lives in Richmond, VA with his wife Tasha and their beagle Freddie. He writes software for a living and is active in radical politics. Other passions include music, backpacking, barbeque and the contemplative life.