---
layout: full_nav
title: Social Memory Complex
subtitle: A political economy of the soul
---
-for post in site.posts.reverse
  .post{:id => "post-#{post.slug}"}
    %h2.post-title
      %a{:href => "#{post.url}"}
        =h post.title
    =abridge post.content, post.url
    .meta
      =published_date(post.date)
      %br
      ="Tags: #{post.tags}" unless post.tags.empty?
      %br
      =link_to "Comments", "#{post.url}#disqus_thread"