---
layout: full_nav
title: Selected Posts
subtitle: Social Memory Complex
---
%p
  These posts are among my favorites, or those visitors have praised highly, or both.
%ul
  %li
    =link_to "The Unique One and the Universal", "http://socialmemorycomplex.net/leftlibertarian/2010/08/16/the-unique-one-and-the-universal/"
  %li
    =link_to "The empire is not American, but Washingtonian", "http://socialmemorycomplex.net/2008/06/13/the-rise-of-the-washingtonian-empire/"
  %li
    =link_to "Let the free market eat the rich!", "http://socialmemorycomplex.net/2007/05/29/let-the-free-market-eat-the-rich/"
  %li
    =link_to "The two sides of the skepticist's coin", "http://socialmemorycomplex.net/2006/07/22/the-two-sides-of-the-skepticists-coin/"
  %li
    =link_to "The Apostasy of the Anarchist Vote", "http://socialmemorycomplex.net/leftlibertarian/2010/01/24/the-apostasy-of-the-anarchist-vote/"
  %li
    =link_to "A Review of Butler Shaffer's 'Calculated Chaos'", "http://socialmemorycomplex.net/2008/06/02/a-review-of-butler-shaffers-calculated-chaos/"
  %li
    =link_to "In Defense of Sin: Re-examining the Libertarian Agenda", "http://socialmemorycomplex.net/2008/02/17/in-defense-of-sin-re-examining-the-libertarian-agenda/"
  %li
    =link_to "The Revolution of Reconnection", "http://socialmemorycomplex.net/2007/12/04/the-revolution-of-reconnection/"
  %li
    =link_to "The Voluntary Society of the Scorched Earth", "http://socialmemorycomplex.net/2007/11/26/the-voluntary-society-of-the-scorched-earth/"
  %li
    =link_to "The Need to Think", "http://socialmemorycomplex.net/2007/11/08/the-need-to-think/"
  %li
    =link_to "Are Shareholders Owners?", "http://socialmemorycomplex.net/2007/10/20/are-shareholders-owners/"
  %li
    =link_to "The Source of Power", "http://socialmemorycomplex.net/2007/09/28/the-source-of-power/"
  %li
    =link_to "Reflections on a Neighborhood Watch Meeting", "http://socialmemorycomplex.net/2007/06/28/neighborhood-watch/"
  %li
    =link_to "A Counter-Institutionalist Manifesto", "http://socialmemorycomplex.net/2007/06/22/a-counter-institutionalist-manifesto/"
  %li 
    =link_to "War Funding and Soldier Welfare", "http://socialmemorycomplex.net/2007/06/10/war-funding-and-soldier-welfare/"
%p
  Also check out the
  =link_to "features", "features"
  \.
    