body
  background: black
  color: lightgrey

.page
  font-family: helvetica, arial sans-serif
  font-size: 14pt
  margin: 1em 16%
  text-align: center
  p
    img
      float: right
  a
    color: lightgrey
    text-decoration: underline
  a:hover
    color: white
  h1
    font-size: 4em
    a
      text-decoration: none
    a:hover
      color: white
    #subtitle
      padding: .5em 0 0 0
      font-size: .25em
      font-style: italic
  ul#navigation
    list-style-type: none
    margin: 0
    font-size: .8em
    li
      display: inline
      text-align: justify
      padding: 0 5em
      a 
        color: lightgrey
        text-decoration: none
      a:hover 
        color: white
  h2
    font-size: 2em
    a 
      color: lightgrey
      text-decoration: none
    a:hover 
      color: white
  h3
    font-size: 1.5em
  #footer
    text-align: center
    font-size: .8em
    padding-top: 10%
    margin: 0 28%

.content
  clear: both
  padding: 0 7%
  text-align: left
  .meta
    font-style: italic
    font-size: .75em
    text-align: right
  .column
    width: 30%
    padding: 0 1.5%
    float: left
    h2
      text-align: center
      font-size: 1.5em  