---
layout: none
---

body
  background: #D3D3D3
  color: black

.post
  #subtitle
    font-style: italic
    font-size: 0.5em
    line-height: 1.25em
    margin: .4em 0 0 0
  h2
    margin-bottom: 0

.page
  #6d-logo
    margin: 20px
  font-family: helvetica, arial sans-serif
  font-size: 14pt
  margin: 1% 16%
  text-align: center
  .note
    font-size: .75em
    font-style: italic
    text-align: justify
  ul
    text-align: justify
  li
    text-align: justify
  p
    line-height: 1.5em
    img
      float: right
      margin: 0 0 1em 1em
    .forward
      font-style: italic
  a
    color: black
    text-decoration: underline
  a.outside-link
    font-size: 1.5em
    text-align: center
    background: url(/images/delicious.png) center left no-repeat
    padding-left: 40px
  a:hover
    color: darkgrey
  h1
    font-size: 3em
    margin: .25em 0
    a
      text-decoration: none
    #subtitle
      display: block
      padding: .5em 0 0 0
      font-size: .4em
      font-style: italic
    #colon
      display: none
  ul#navigation
    list-style-type: none
    margin: 0 0 30px 0
    font-size: .8em
    text-align: center
    li
      display: inline
      text-align: center
      padding: 0 2em
      a 
        text-decoration: none
  h2
    font-size: 2em
    line-height: 1.1em
    a 
      text-decoration: none
  h3
    font-size: 1.25em
    padding-top: 1em
  #logo6d
    padding-top: 30px
  #footer
    text-align: center
    font-size: .8em
    padding-top: 30px
    margin: 0
    clear: both
    a
      text-decoration: none
  .meta
    font-style: italic
    font-size: .75em
    text-align: right
    a.outside-link
      font-size: 1em
      background: url(/images/delicious-small.gif) center left no-repeat
      padding-left: 20px
  .comments
    margin-top: 1em
    
.content
  clear: both
  padding: 0 7%
  text-align: center
  line-height: 1.5em
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif
  pre
    padding: 0 10%
    overflow: auto
    text-align: left
  pre:hover
    overflow: visible
  p
    text-align: justify
  blockquote
    border-left: 3px solid lightgrey
    padding-left: 2em
    margin: 0
    text-align: justify
  .column
    width: 30%
    padding: 0 1.5%
    float: left
    h2
      text-align: center
  .right
    text-align: right
  h2
    text-align: left
.pagination ul
  text-align: center
  list-style-type: none
  li
    display: inline
  a 
    text-decoration: none
    margin: 0 2em
@for $i from 1 through 9
  .set-#{$i}
    font-size: #{$i * .5}em