---
layout: full_nav
title: Features
subtitle: Social Memory Complex
---
%p
  These are special features I've written outside the blog.
%ul
  %li
    %a{:href => "history-as-the-evolution-of-identity.html"}
      History as the Evolution of Identity
  %li
    %a{:href => "the-political-implications-of-the-law-of-one.html"}
      The Political Implications of the Law of One
  %li
    %a{:href => "http://c4ss.org/content/26"}
      Without the State, No Troops to Support
  %li
    %a{:href => "http://c4ss.org/content/15"}
      Child Exploitation and the Myth of Moral Management
  %li
    %a{:href=> "approach-with-caution.html"}
      Approach with Caution: A Newbie Reflects on the Culture of Firearms and Radical Politics