---
layout: full_nav
title: Features
subtitle: Social Memory Complex
---
%p
  These are special features I've written outside the blog.
%ul
  %li
    %a{:href => "history-as-the-evolution-of-identity.html"}
      History as the Evolution of Identity
  %li
    %a{:href => "the-political-implications-of-the-law-of-one.html"}
      The Political Implications of the Law of One