!!!
%html
  %head
    %title 
      =[page.title, "Social Memory Complex"].uniq.join(" | ")
    %link{:href => "/smc.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{ :href => "http://feeds.feedburner.com/SocialMemoryComplex", :rel => "alternate", :title => "Social Memory Complex: Articles", :type => "application/atom+xml" }
    %link{ :href => "http://feeds.feedburner.com/SMC_Linkblog", :rel => "alternate", :title => "Social Memory Complex: Linkblog", :type => "application/atom+xml" }
  %body
    .page
      %h1
        =header(page)
      =content
      #footer
        - if page.respond_to?(:bottom_nav)
          %ul#navigation
            - if target = page.next
              %li
                =previous_link(target)
            %li
              %a{:href=>"/"}
                Home
            - if target = page.previous
              %li
                =next_link(target)
        %br{:clear=>"all"}
        %a{:rel=>"license", :href=>"http://creativecommons.org/licenses/by-nc-sa/3.0/"}
          %img{:alt=>"Creative Commons License", :style=>"border-width:0", :src=>"http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png"}
        %span#text{"xmlns:dc"=>"http://purl.org/dc/elements/1.1/", :href=>"http://purl.org/dc/dcmitype/Text", :property=>"dc:title", :rel=>"dc:type"}
          %a{:href=>"/"}
            Social Memory Complex (http://socialmemorycomplex.net)
          &copy;2004-2010 Jeremy Weiland. All pages licensed under a Creative Commons Attribution-Noncommercial-Share Alike 3.0 Unported License.