---
layout: base
---
%ul#navigation
  =render_nav({"Home" => "/", "About" => "/about.html", "Archives" => "/archives.html", "Links" => "/links.html", "Selected Articles" => "/selected.html"}, page.title.split(" ")[0])
.content
  =content